.bold-font{
    font-weight: 700;
}

.green{
    background-color: #18a414;
}

.red {
    background-color: #a45a4d;
}

.sign-in-button{
    margin-top: 1em;
}
.margin-form {
    margin-top: 5em;
}

.margin-top-1{
     margin-top: 1.3em;
 }

.margin-top-3{
    margin-top: 3em;
}

.main{

}




